body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

.img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: start;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #333;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
    bottom: 0;
}

.btn {
    background-color: black;
    padding: 10px 20px;
    color: white;
    border-radius: 0.2rem;
}

.btns {
    background-color: #0A66C2;
    padding: 10px 20px;
    color: white;
    border-radius: 0.2rem;
}



.content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
}

.container {
    padding: 2px 2% 15px 2%;
    padding-bottom: 100px;
}

.container .heading {
    text-align: center;
    padding-bottom: 15px;
    color: #000000;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 30px;
}

.heading {
    text-align: center;
    padding-bottom: 15px;
    color: #000000;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 30px;
}

.about-me {
    text-align: left;
    padding-bottom: 15px;
    color: #000000;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 30px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box-container .box {
    border-radius: 5px;
    background-color: rgb(243, 246, 247);
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .box img {
    height: 80px;
}

.container .box-container .box h3 {
    color: #444;
    font-size: 22px;
    padding: 10px 0;
}

.header {
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    height: 100px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-size: 20px;
    font-family: poppins;
    color: black;
    letter-spacing: 5px;
}

nav {
    float: right;
    line-height: 100px;
}

nav a {

    text-decoration: none;
    font-family: poppins;
    letter-spacing: 4px;
    font-size: 15px;
    margin: 0 10px;
    color: black;
}

nav a:hover {
    background-color: #ccc;
    border-radius: 0.2rem;
    padding: 9px 14px;
    text-decoration: none;
    font-family: poppins;
    letter-spacing: 4px;
    font-size: 15px;
    margin: 0 10px;
    color: black;
}
@media (max-width: 768px) {
    .logo {
        width: 100%;
        float: none;
        text-align: center;
        line-height: 50px;
    }

    .logo a {
        font-size: 20px;
        display: block;
    }

    nav {
        float: none;
        text-align: center;
        line-height: 20px;
        margin-top: 10px;
    }

    nav a {
        font-size: 10px;
        padding:0px 2px;
        display: inline;
        margin: 0px 0;
    }
    nav a:hover {
        background-color: #ccc;
        border-radius: 0.1rem;
        padding: 4px 9px;
        text-decoration: none;
        font-family: poppins;
        letter-spacing: 4px;
        font-size: 10px;
        margin: 0 10px;
        color: black;
    }
}